html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,hr,p,blockquote,img,a,dl,dt,dd,ul,ol,li,pre,em,strong,b,i,fieldset,form,label,legend,button,input,textarea,table,tbody,tfoot,thead,tr,th,td {
    margin: 0;
    padding: 0;
    outline: 0;
}
body,button,input,select,textarea {
    font: 12px/1.5 "Microsoft Yahei",SimSun,Arial,"\5b8b\4f53",sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
}
address,cite,dfn,em,var {
    font-style: normal;
}
code,kbd,pre,samp,tt {
    font-family: "Courier New",Courier,monospace;
}
small {
    font-size: 12px;
}
ul,ol,li {
    list-style: none;
}
a {
    text-decoration: none;    
}
a:hover {
    text-decoration: none;
}
a,button {
    cursor: pointer;
}
em,i {
    font-style: normal;
}
legend {
    color: #000;
}
fieldset,img {
    border: 0;
}
button,input,select,textarea {
    font-size: 100%;
}
input,select,img {
    vertical-align: middle;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}